<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>asdf</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      #container {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;

        background-color: black;
        color: white;
        font-family: "Pretendard";
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div>
        <h1>롤탑티어표</h1>
      </div>
    </div>
  </body>
</html>
